label {
  color: rgb(13, 92, 119);
  font-size: medium;
  font-weight: bolder; 
}

select {
  margin-left: 10px;
  background-color:rgb(216, 232, 247);
  /* display: block; */
  /* margin-bottom: 10px; */
}
h2 {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 92, 119);
  width: 600px;
  text-align: center;
}